.concepts {

	&__header {
		margin-top: 0;

		@include title-border(
			$spacing: 3rem,
			$align: 50%,
			$transform: -50%
		);
	}

	&__item {
		margin-top: 1rem;
		margin-bottom: 1rem;	

		@include between (xs, sm) {
			width: 50%;
		}
	}

	&__icon {
		padding-right: 0;
		padding-left: 0;

		@include between (start, sm) {
			width: 2rem;
			height: auto;
			margin-bottom: 1rem;
		}
	}

	&__text {
		padding-right: 0;

		@include between (start, sm) {
			padding-left: 0;
		}
	}

	&__title {
		margin-top: 0;
	}
}