.dealers {

	&__item {
		background: $white;
		padding: 3rem;
		margin: 1rem;
		width: 100%;

		@include between (xs, sm) {
			width: calc(50% - 2rem);
		}

		@include above (sm) {
			width: calc(33.3% - 2rem);
		}
	}

	&__img {
		max-height: 100px;
		width: auto;
	}
}