.employees {

	&__item {
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;

		@include between (xs, sm) {
			width: 49%;
		}

		@include above (sm) {
			width: 32.9%;
		}
	}

	&__img {
		@include icon-transparent(
			$color: $brown
		);
	}

	&__name, &__title {
		margin-top: 0;
	}

	&__name {
		margin-bottom: 0;
	}

	&__content {
		background: $brown;
		padding: 1rem;
		flex: 1;

		@include above (sm) {
			padding: 1.5rem;
		}
	}

	&__mail, &__phone {
		display: block;
		transition: all ease .3s;

		&:hover {
			color: $black;
		}	
	}	
}