.footer {

	&__item {
		font-family: $custom-fallback-font;

		&:first-child {
			margin-left: 0;
		}

		&:not(:first-child) {

			@include above (sm) {
				margin-left: 12.499965%;
			}
		}
		
		&:not(:last-child) {
			border-right: $brown 1px solid;
		}

		p:last-child {
			margin-bottom: 0;
		}

		a {
			color: $white;
			display: inline-block;
			transition: all ease .3s;

			&:hover {
				color: $brown;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: disc;
			list-style-position: inside;
		} 

		li {
			list-style-type: disc;
		}
	}

	&__title {

		@include above (sm) {
			margin-top: 0;
		}
	}
}
