.header {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include above (sm) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	&__logo {
		display: block;
		float: left;

		img {
			width: 150px;
			height: 68px;

			@include above (md) {
				width: 194px;
				height: 88px;
			}
		}
	}
}