/********************LAYOUTS********************/

/* Base Styles */
.brown--bg, .black--bg, 
.red--bg{
  color: $white;
}

.brown--bg {

  &.icon {
    @include icon(
      $color: $brown
    );
  }

  .wysiwygs__col {

    a:not(.btn) {
      color: $black;
    }
  }

  .text-image__title {

    &:after {
      background: $black;
    }
  }
}

.red--bg {
  
   .text-image__title {

    &:after {
      background: $black;
    }
  } 
}

.none--bg {

  .wysiwygs__col {

    a:not(.btn) {
      color: $black;
    }
  }

  &.icon {
    @include icon();
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__col {

    a {
      display: inline-block;
    }
	
    @include above (sm) {

      &.first {

      	p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 2.5rem;
  }
  
  &--bottom {
    padding-bottom: 2.5rem;
  }

  &--both {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 4rem;
    }

    &--bottom {
      padding-bottom: 4rem;
    }

    &--both {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}