.link-boxes {
 
	&__header {

	}

	&__item {
		background: no-repeat center center;
		background-size: cover;
		min-height: 230px;
		position: relative;

		@include below (xs) {
			width: 50%;
		}

		@include between (xs, sm) {
			width: 33.3%;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background: $black;
			transition: all ease .3s;
		}

		&:hover {

			&:before {
				opacity: .6;
			}

			.link-boxes__title {
				opacity: 1;
			}
		}
	}

	&__icon {
		
	}

	&__title {
		margin-top: 0;
		transition: all ease .3s;
		color: $white;
		font-size: 18px;
		font-family: $custom-font-body;
		opacity: 0;
		z-index: 10;
		margin-bottom: 0;
		font-weight: 900;

		@include above (sm) {
			font-size: 22px;
		}
	}
}