.nav {

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 10px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;

		@include above (sm) {
			float: left;
			display: inline-block;
			padding: 0 .5rem;
		}

		@include above (md) {
			padding: 0 1rem;	
		}

		&.is-dropdown {

			@include above (sm) {
				&:hover {
					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}

		&.is-active > a {

			@include below (sm) {
				color: $black;
			}
			
			&:before {
				left: 1rem;
				width: calc(100% - 2rem);

				@include above (sm) {
					width: 100%;					
					left: 0;
				}
			}
		}

		&--fb {

			a {
				color: #3b579d;
				padding-top: 0;
				padding-bottom: 0;
				font-size: 34px;

				@include between (sm, md) {
					font-size: 32px;
				}

				&:before {
					display: none;
				}
			}
		}
	}


	&__link {
		text-transform: uppercase;
		color: $white;
		position: relative;
		padding: .8rem 1rem;
		display: inline-block;
		font-family: $custom-fallback-font;
		font-weight: 600;
		z-index: 10;
		font-size: 15px;


		@include between (sm, md) {
			font-size: 14px;
		}

		@include above (sm) {
			padding: .8rem 0rem;
			color: $color-font-body;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				width: 0;
				height: 5px;
				background: $brown;
				left: 0;
				transition: all ease .3s;
			}
		}

		&:hover {

			&:before {
				@include above (sm) {
					width: 100%;
				}
			}
		}
	}


	&__dropdown {
		padding: 0;
		top: 100%;
		background: $brown;
		display: block;
		padding-left: 1rem;

		@include above (sm) {
			position: absolute;
			display: none;
			padding-left: 0;
			padding-top: .5rem;
			padding-bottom: .5rem;
			top: calc(100% - 5px);
		}

		.nav__item {
			padding: 0;
			display: block;
			float: none;

			&.is-active a {
				@include above (sm) {
					color: $black;
				}
			}
		}
		
		.nav__link {
			display: block;
			padding: 0.5rem 1rem;
			white-space: nowrap;
			color: $white;

			&:hover {
				text-decoration: none;
			}
		}
	}
	

	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 100px;
			right: 0;
			height: calc(100% - 100px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $brown;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}
			
			@at-root {
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
			display: contents;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}