.page {

	&__hero {
		background: no-repeat center center;
		background-size: cover;
		min-height: 150px;
		@include icon-transparent();

		@include above (sm) {
			min-height: 230px;
		}
	}

	&__desc {
		@include icon();
	}

	&__title {
		margin-top: 0;
		@include title-border(
			$align: 50%,
			$transform: -50%,
			$spacing: 0
		);
	}
}
