.slider {

	&__list {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background-position: center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 25rem;

			@include above (lg) {
				padding-bottom: 35rem;
			}
		}
	}

	&__container {
		
	}

	&__content {
		padding: 0;
	}

	&__title {
		line-height: 1;
		font-size: 28px;
		margin-top: 0;
		text-shadow: 2px 2px rgba($black, .3);

		@include above (sm) {
			font-size: 38px;
		}

		@include above (md) {
			font-size: 48px;
		}

		@include above (lg) {
			font-size: 58px;
		}
	}

	&__text {
		margin-top: 1.5rem;
		text-transform: uppercase;

		p {
			text-shadow: 2px 2px rgba($black, .3);
		}

		@include above (sm) {
			font-size: 24px;
		}

		a {
			font-size: 16px;
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		display: flex;
    	align-items: center;
    	justify-content: center;
    	position: absolute;
    	width: 100%;
    	bottom: 1rem;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dot {
		background: $brown;
		width: .8rem;
		height: .8rem;
		border-radius: 50%;

		&.active {
			background: $black;
		}
	}

	.owl-dot + .owl-dot {
		margin-left: .5rem;
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1500ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}