.btn {
	display: inline-block;
	position: relative;
	padding: .8rem 2.5rem;
	font-family: $custom-font-medium;
	text-transform: uppercase;
	@include lhCrop(1.5); 
	cursor: pointer;
	transition: all ease .3s;
	-webkit-appearance: none;
	border: none;

	&--black {
		background: $black;
		color: $white;

		&:hover {
			color: $brown;
		}
	}
}