//mailchimp

.mc4wp-form {
	
	&-fields {
		margin-top: 1.5rem;
	}

	input[type="email"] {
		padding: .73rem;
		border-color: $black;
		border-width: 1px;

		@include above (sm) {
			margin-right: 1rem;
		}
	}

	input[type="submit"] {
    	font-weight: 600;
	}

	input[type="email"], 
	input[type="submit"] {
		margin-top: .5rem;
		margin-bottom: .5rem;
		font-family: sans-serif;
	}

 	::-webkit-input-placeholder { /* WebKit browsers */
		color: $black;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $black;
		opacity: 1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $black;
		opacity: 1;
	}

	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $black;
	}
}

//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		text-align: center;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;
		padding: 1.4rem 2.5rem 0.8rem 2.5rem !important;

		@extend .btn, .btn--black;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: block !important;
		text-align: left;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		line-height: 2.5 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		color: $color-font-body !important;
		border: 1px solid $black !important;

		::-webkit-input-placeholder { /* WebKit browsers */
			color: $black;
		}

		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: $black;
			opacity: 1;
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: $black;
			opacity: 1;
		}

		:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: $black;
		}

		&:hover, &:focus {
		
		}

		&:focus, &:active, &:visited {
			outline: none;
		}
	}
}


/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}