/********************MIXINS*********************/

@mixin m {
  @media (min-width: #{ $max-width + 5 + 'em' }) {
    @content;
  }
}

// Line-height
@mixin line-height($number) {
  line-height: #{ $number * $leading-rem + 'rem'};
}

// Margin-top
@mixin margin-top($number) {
  margin-top: #{ $number * $leading-rem + 'rem'};
}

// Margin-bottom
@mixin margin-bottom($number) {
  margin-bottom: #{ $number * $leading-rem + 'rem'};
}

// Margin
@mixin margin($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    margin: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}

// padding
@mixin padding($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'};
  } @else {
    padding: #{ $top * $leading-rem + 'rem'} #{ $right * $leading-rem + 'rem'} #{ $bottom * $leading-rem + 'rem'} #{ $left * $leading-rem + 'rem'};
  }
}

@mixin padding-equal($number) {
  padding: #{ $number * $leading-rem + 'rem'};
}

/* CSS Horizontal Centering */
@mixin halign {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* CSS Vertical Centering */
@mixin valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
}

/* CSS Horizontal & Vertical Centering */
@mixin hvalign {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  margin-bottom: 0;
}

/* WebKit-proof */
@mixin webkit-proof {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  position: relative;
  overflow: hidden;
}


@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin lhCrop($line-height) {
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-bottom: calc((1 - #{$line-height}) * 1em);
  }
}


@mixin title-border($spacing: 1.5rem, $align: 0, $transform: 0) {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: $spacing;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 5px;
    left: $align;
    transform: translateX($transform);
    background: $brown;
  }
}

@mixin icon($color: $white) {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-color: $color transparent;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    height: 0px;
    width: 0px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

@mixin icon-transparent($color: $white) {
    overflow: hidden;
    position: relative;

    .arrow {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: rgba($color, 1);
      left: 0;
    }

    .arrow:before, .arrow:after {
      content:'';
      position: absolute;
      bottom: 100%;
      width: 50%;
      box-sizing: border-box;
    }

    .arrow:before {
      right: 50%;
      border-bottom: 15px solid rgba($color, 1);
      border-right: 15px solid transparent;
    }

    .arrow:after {
      left: 50%;
      border-bottom: 15px solid rgba($color, 1);
      border-left: 15px solid transparent;
    }
  }